<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="views/fragments/head :: head" />
<title>Check Out</title>
<style type="text/css">
table {
	border: 0;
}

table td {
	padding: 10px;
}
</style>

<body>
	<header th:replace="views/fragments/header :: header" />
	<form action="/authorize_payment" method="post">
	<div class="container-fluid bg-light mt-4">
		<div th:each="cart : ${carts}" class="d-inline">
			<div class="row mt-2">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 border-dark">
					<img th:src="@{/images/iPhone/thumb-iphone.png}" alt="" class="src"
						width="100%">

				</div>
				<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7  text-left">
					<b th:text="${cart.name}"></b>
					<ul>
						<li>Giảm ngay 2 triệu</li>
						<li>Giảm ngay 1.5 triệu (áp dụng đặt và nhận hàng từ 8 -
							15/7)</li>
						<li>Tặng 2 suất mua Đồng hồ thời trang giảm 40% (không áp
							dụng thêm khuyến mãi khác) <a href="">(click xem chi tiết)</a>
						</li>
					</ul>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3  text-left">
					<label for="" style="width: 100%; color: red;"
						th:text="${cart.price}">₫</label>
				</div>
			</div>
		</div>

		<div class="row mt-2">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<label for="">Tổng tiền</label>
			</div>
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-left"></div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left">
				<label for="" th:text="${subTotal}">₫</label>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<label for="">Shipping</label>
			</div>
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-left"></div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left">
				<label for="" th:text="${shipping}">₫</label>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<label for="">Tax</label>
			</div>
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-left"></div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left">
				<label for="" th:text="${tax}">₫</label>
			</div>
		</div>
		<div class="row mt-2 border-bottom">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<label for=""><b>Cần thanh toán:</b></label>
			</div>
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-left"></div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left">
				<label for="" style="color: red;"><b th:text="${total}">₫</b></label>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 "
				style="background-color: rgba(255, 255, 255, 0.5);"></div>

			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  mt-2 mb-2">
				<a th:href="@{/authorize_payment}" ><button type="submit"
						class="btn btn-danger form-control" onclick="dathang()">ĐẶT
						HÀNG</button></a>
			</div>

			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 "
				style="background-color: rgba(255, 255, 255, 0.5);"></div>
		</div>
	</div>
	</form>

	<!-- 
	<div align="center">
		<h1>Check Out</h1>
		<br />
		<form action="/authorize_payment" method="post">
			<table>
				<tr>
					<th class="w-25 text-left">Product name</th>
					<th class="w-50 text-center">Quantity</th>
					<th class="w-25 text-center">Price</th>
				</tr>
				<div th:each="cart : ${carts}" class="d-inline">
					<tr>
						<td th:text="${cart.name}" class="text-left"></td>
						<td th:text="${cart.quantity}" class="text-center"></td>
						<td th:text="${cart.price}" class="text-center"></td>
					</tr>
				</div>

				<tr>
					<td>Sub total</td>
					<td></td>
					<td th:text="${subTotal}" class="text-center"></td>
				</tr>
				<tr>
					<td>Shipping</td>
					<td></td>
					<td th:text="${shipping}" class="text-center"></td>
				</tr>
				<tr>
					<td>Tax</td>
					<td></td>
					<td th:text="${tax}" class="text-center"></td>
				</tr>
				<hr />
				<tr>
					<td>Total</td>
					<td></td>
					<td th:text="${total}" class="text-center"></td>
				</tr>
				<tr>
					<td colspan="3" align="center"><input type="submit"
						class="btn btn-primary" value="Checkout" /></td>
				</tr>
			</table>
		</form>
	</div>
	 -->


	<div th:replace="views/fragments/footer :: footer" />

</body>
</html>