<div class="row" th:fragment="info1">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

		<img th:src="@{/images/pngtree-black-friday-background-with-orange-scratch-ornament-image_407585.jpg}" alt="" class="src"
			style="width: 100%;">
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">

		<img th:src="@{/images/iPhone/iphone-11-pro-max-(21).jpg}" alt=""
			style="width: 100%;">
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
		<img th:src="@{/images/iPhone/214418.jpg}" alt="" style="width: 100%;">

	</div>
</div>