<div class="container-fluid mt-2"
	style="background-color: rgb(233, 220, 38); color: rgb(10, 29, 16); font-size: 20px;" th:fragment="info2">

	<div class="row">
		<div
			class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt-1 pt-3 pl-9 text-center">
			<b>
				<p>
					Nhận thông tin khuyến mãi mới nhất từ <span
						style="letter-spacing: 2px; color: brown;"> LambdaBuy </span>
				</p>
			</b>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 text-center">
			<form class="navbar-form navbar-left mt-2" action="#">
				<div class="input-group ">
					<div class="col-xs-12 col-sm-6 col-md-1 col-lg-1 mt-2 text-center">
						&nbsp;</div>
					<div class="col-xs-12 col-sm-6 col-md-9 col-lg-9 mt-4 text-center">
						<input type="text" class="form-control" placeholder="Email"
							name="Email">
					</div>
					<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 mt-4 text-center">
						<div class="input-group-btn">
							&nbsp;
							<button class="btn btn-dark" type="submit" name="" value="">
								Đăng ký</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

</div>