<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Register</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class=dang-nhap>
			<h2>ĐĂNG KÝ</h2>
			<h6  class="label label-success text-danger"  th:text=${message}></h6>
			<form th:action="@{/register}" th:object="${user}" method="post">
				<div class="form-group">
					<label>Tên:</label> <input name="fn" required class="form-control"
						th:value="${fn}" />
				</div>
				<div class="form-group">
					<label>Họ:</label> <input name="ln" required class="form-control"
						th:value="${ln}" />
				</div>
				<div class="form-group">
					<label>Email:</label> <input name="email" required
						class="form-control" th:value="${email}" />
				</div>
				<div class="form-group">
					<label>Tên đăng nhập:</label> <input name="username"
						class="form-control" required th:value="${username}" />
				</div>
				<div class="form-group">
					<label>Mật khẩu:</label> <input name="password" type="password"
						class="form-control" required th:value="${password}" />
				</div>
				<div class="form-group">
					<label>Nhập lại mật khẩu:</label> <input name="repassword"
						class="form-control" required th:value="${repassword}" />
				</div>
				<div class="form-group">
					<button class="btn btn-success">Đăng ký</button>
					<span>Bạn đã có tài khoản?</span>
					<a th:href="@{/login}" style="text-decoration: none">Đăng nhập</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>